name: CI

on:
  push:
    branches:
      - github-actions-ci
      - master
    tags:
      - v[0-9]+.[0-9]+.[0-9]+*
  pull_request:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        platform: [x64, Win32]
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          & "${env:ProgramFiles(x86)}\Microsoft Visual Studio\2019\Enterprise\MSBuild\Current\bin\MSBuild.exe" rcedit.sln -property:Platform=${env:PLATFORM}
        env:
          PLATFORM: ${{ matrix.platform }}
      - uses: actions/upload-artifact@v1
        with:
          name: rcedit-${{ matrix.platform }}.exe
          path: Default
